body{
    height: 100%;
    margin: 0px;
    background: linear-gradient(117deg, #121215, #262629);
    height: 100vh;
    width: 100vw;
}

.titlepage__parentContainer{
    /* függöleg igazitas*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* child elemek igazitasa ehhez a parenthez kepest közepre*/
    display: flex;
    justify-content: center; /* vizszintesen közepre*/
    align-items: center; /* függölegesen közepre */

    /* egyeb*/
}

.titlepage__childContainer{
    display: flex;
    flex-direction: column; /* a linkek elrendezesere*/
}

.titlepage__verticalLine{
    width: 1px;
    height: 219px;
    background: #FFF;
    margin-left: 50px;
    margin-right: 50px;
}

.font{
    color: #FFF;
    font-family: Roboto;
}


.font__Logo{
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 15px;
    white-space: nowrap;

}

.font__Link{
    font-size: 54px;
    font-weight: 100;
    line-height: normal;
}

.font__Link--NavBar{
    font-size: 20px;
}

.link{
    text-decoration: none; /* megszünteti a default-alahuzast*/
    color: inherit;  /* atveszi a szövegnek beallitott class-t a default ronda kék helyett*/
}

.link:hover{
    opacity: 0.6;
    transition: .1s;
}

.link--selected{

}

.link__titlepage{

}

/* ******************************** */
/* ********** Navigacio *********** */
/* ******************************** */
header{
        
    /* child elemek igazitasa ehhez a parenthez kepest*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;


    /*egyeb*/
    padding: 0px 32px;
    height: 80px;
    border-bottom: 1px solid #FFF;
}

.navigation__FlexChild{

}


.navigation__LogoContainer{
    flex: 2;
}

.navigation__LinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* ******************************** */
/* ****** Oldal: Céginformáció **** */
/* ******************************** */
.weBuildWebsites__Container{
    height: 471px;
    margin-left: 80px;
    margin-right: 80px;   
    margin-top: 71px; /*calc(70px - 32px);*/
    margin-bottom: 80px;

    /*Background-image*/
    background-image: url(img/image1.png);
    background-repeat: no-repeat;
    background-size: contain;

    /*Parent-child viszony*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    position: relative; /* A link class-a miatt szükseges beallitas*/
}

.weBuildWebsites__Text{
    font-size: 120px;
    font-weight: 400; 
    margin-right: calc(189px - 80px);
    width: 724px; /* a reszponzivitashoz kenytelen voltam egy fix szelesseget megadni*/
}

.weBuildWebsites__Link{ /* ez nem követi a flexbox szabalyait */
    font-size: 24px;
    text-decoration-line: underline;
    text-wrap: nowrap;
    
    /* Jobb-alulra igazitas. Forras: https://stackoverflow.com/questions/3956043/css-how-to-position-element-in-lower-right */
    position: absolute;
    bottom: 0;
    right: 0;
}

.aboutUs__ContainerMain{
    padding: 80px;
    background-color: #FFF;;


    display: flex; /* eredetileg inline-flex, de ugy nem müködött...*/
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.aboutUs__Title{
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
}

.aboutUs__ConatinerComponent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 73px;
}

.aboutUs__Component{
    /* Child szerep (parent: aboutUs__ConatinerComponent) */

    /* Parent szerep*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;

    
    /* A ComponentName jobb-alulra igazitasahoz.*/
    position: relative;
}

.aboutUs__ComponentImg{
    width: 168px;
    height: 168px;
}

.aboutUs__ComponentText{
    width: 378px;
    color: #000;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}

.aboutUs__ComponentName{
    color: #7000A0;
    font-size: 24px;
    font-weight: 400;

    /* Jobb-alulra igazitas. Forras: https://stackoverflow.com/questions/3956043/css-how-to-position-element-in-lower-right */
    position: absolute;
    bottom: 0;
    right: 0;
}