.titlepage__body{
    height: 100%;
    margin: 0px;
}

.frame{
    background: linear-gradient(117deg, #121215, #262629);
    height: 100vh;
    width: 100vw;
}

.titlepage__parentContainer{
    /* függöleg igazitas*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* child elemek igazitasa ehhez a parenthez kepest közepre*/
    display: flex;
    justify-content: center; /* vizszintesen közepre*/
    align-items: center; /* függölegesen közepre */

    /* egyeb*/
}

.titlepage__childContainer{
    display: flex;
    flex-direction: column; /* a linkek elrendezesere*/
}

.titlepage__verticalLine{
    width: 1px;
    height: 219px;
    background: #FFF;
    margin-left: 50px;
    margin-right: 50px;
}

.font{
    color: #FFF;
    font-family: Roboto;
}

.font__Logo{
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 15px;
    white-space: nowrap;

}

.font__Link{
    font-size: 54px;
    font-weight: 100;
    line-height: normal;
}

.link{
    text-decoration: none; /* megszünteti a default-alahuzast*/
    color: inherit;  /* atveszi a szövegnek beallitott class-t a default ronda kék helyett*/
}

.link:hover{
    opacity: 0.6;
    transition: .1s;
}

.link--selected{

}

.link__titlepage{

}