/*
TODO:
- aktiv oldal linkje felköver
- valtozok: fontweight, fontsize stb (?)
- mySection__Component 379px-es erteket valtozohoz rendelni (?)

*/

:root{
    /* Size */
    --fontSizeContact: 24px;

    /* Font-Weight*/
    --fontWeight-S: 100;
    --fontWeight-M: 400;
    --fontWeight-L: 700;
    --fontWeight-XL: 900;

    /* General color*/
    --color-Light: #FFF;
    --color-Dark: #121215;
    --color-DarkAccent: #262629;
    --color-Theme: #A0009B; 
    --color-ThemeAccent: #7000A0;

    /* Light mode*/
    --lightMode-bg: linear-gradient(117deg, #EEEEF0, #CCCCD8);
    --lightMode-font: var(--color-Dark);

    /* Dark mode*/
    --darkMode-bg: linear-gradient(117deg, var(--color-Dark), var(--color-DarkAccent));
    --darkMode-font: var(--color-Light);

}

/* ********************************** */
/* ******** Media queries *********** */
/*  Mobile first, target width 360px  */
/* ********************************** */

/* Mobile (csak az index.html-re!)*/
@media screen and (max-width: 1000px){  
    .index__ParentContainer{
        flex-direction: column;
    } 
    .index__ChildContainer{
        gap: 32px;
        align-items: center;
    }
    .index__LogoFont{
        /*font-size: 48px;*/
        font-size: calc(48px + (64 - 48) * ((100vw - 365px) / (800 - 365)));
        letter-spacing: 10px;
    }
    .index__LinkFont{
        font-size: 40px;
    }
    .index__Line{
        width: 100vw;
        height: 1px;
        margin: 50px 0;
    }
}

/* Desktop (csak az index.html-re!)*/
@media screen and (min-width: 1001px){
    .index__ParentContainer{
        flex-direction: row;
    } 
    .index__ChildContainer{
        gap: 15px;
    }
    .index__LogoFont{
        font-size: 64px;
        letter-spacing: 15px;
    }
    .index__LinkFont{
        font-size: 54px;
    }
    .index__Line{
        width: 1px;
        height: 219px;
        margin: 0 50px;
    }
}

/* Mobile */
@media screen and (max-width: 800px){  
    .mySection__Margin{
        margin-top: 80px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .mySection__ContentContainer{
        gap: 0px;
        row-gap: 64px;
        margin-bottom: 32px;
    }
    .mySection__Component{
        width: auto;
    }  
    .weBuildWebsites__Container{
        align-items: flex-start;
        justify-content: space-around;
        /*min-height: 281px;*/
        height: calc(100vw * 330 / 440);
        margin: 0;
        margin-bottom: 0; 
        background-size: 100% auto;
        background-position: center;
    }
    .weBuildWebsites__Text{ 
        text-align: center;
        /*font-size: 50px;*/
        font-size: calc(50px + (100vw - 365px) * (90 - 50) / (800 - 365));
        line-height: 120%; 
        margin-top: calc(32px + (100vw - 365px) * (160 - 32) / (800 - 365));
        margin-left: 36px;
        margin-right: 36px;
    }
    .weBuildWebsites__Link{
        visibility: collapse;
    }
    .contact__TextFont{
        width: 100%;
    }
    .aboutUs__ComponentText{
        font-size: 24px;
    }
    .myHeader{
        padding: 8px 24px;
    }
    .header__Logo--Desktop{
        visibility: collapse;
        height: 0;
    }
    .header__Logo--Mobile{
        font-size: 32px;
        font-weight: var(--fontWeight-XL);
        letter-spacing: 2px;
        visibility: visible;
    }
    .myNavigation{
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
    }
    .font__Link--NavBar{
        font-weight: var(--fontWeight-S);
    }
    .contact__TextContainer{
        width: 100%;
    }
    .contact__MapContainer{
        height: 400px;
        width: 100%;
    }
    .form__FirstContainer{
        align-items: stretch;
        flex-direction: column; 
        gap: 32px;
    }   
    .form__button{
        align-self: center;
        margin-top: 32px;
        margin-bottom: 32px;;
    }
} 


/* Desktop */
@media screen and (min-width: 801px){
    .mySection__Margin{
        margin-top: 80px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .mySection__ContentContainer{
        gap: 70px;
        row-gap: 50px;
        margin-bottom: 80px;
    }
    .mySection__Component{
        width: 379px; 
    }
    .weBuildWebsites__Container{
        align-items: center;
        justify-content: flex-end;
        height: 471px;
        margin-bottom: 80px;
        background-size: contain;
    }
    .weBuildWebsites__Text{
        font-size: 120px;
        /*margin-right: calc(189px - 80px);*/
        width: 724px; /* a reszponzivitashoz kenytelen voltam egy fix szelesseget megadni*/
    }
    .weBuildWebsites__Link{
        visibility: visible;
    }
    .contact__TextFont{
        width: auto;
    }
    .aboutUs__ComponentText{
        font-size: 29px; /* kenytelen voltam 30px helyett ezt hasznalni, különben a 3. komponens szövege 1 sorral több lesz*/
    }
    .myHeader{
        height: 80px;
        padding: 0px 32px;
    }
    .header__Logo--Desktop{
        font-size: 40px;
        font-weight: var(--fontWeight-S);
        visibility: visible;
    }
    .header__Logo--Mobile{
        visibility: collapse;
        height: 0;
    }
    .myNavigation{
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
    .font__Link--NavBar{
        font-weight: var(--fontWeight-M);
    }
    .contact__TextContainer{
        width: calc(100% * 702 / 1280 );
    }
    .contact__MapContainer{
        height: 722px;
        width: calc(100% * 449.408 / 1280 );
    }
    .form__FirstContainer{
        align-items: flex-start;
        flex-direction: row; 
        gap: 50px;
    }
    .form__button{
        align-self: self-end;
        margin-top: 49px;
        margin-bottom: 49px;;
    }
} 

/* Desktop atmenet*/
@media screen and (max-width: 1200px){
    .contact__ContentContainer{
        justify-content: space-between;
    }
    .contact__TextContainer{
        width: 100%;
    }
    .contact__MapContainer{
        height: 400px;
        width: 100%;
    }
}

/* Desktop, extra szeles kepernyön*/
@media screen and (min-width: 1800px){
    .ourServices__ContentContainer /* ez azert van külön is, hogy megmaradjon a flexboxban a 3 oszlop*/
    {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
    }
    .maxContentWidht{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ********************************** */
/* ********* Media query ************ */
/* ******* Light/Dark mode ********** */
/* ********************************** */

@media (prefers-color-scheme: dark) {
    body{
        background: var(--darkMode-bg);
    }
    .font{
        color: var(--darkMode-font);
    }
    .index__ParentContainer{
        background: var(--darkMode-bg);
    }
    .index__Line{
        background: var(--darkMode-font);
    }
    .ourServices__ComponentIcon{
        fill: var(--darkMode-font);  
        color: var(--darkMode-font);  
    }
    .header__BottomLine{
        border-bottom-color: var(--darkMode-font);
    }
    .invertedColors{
        background-color: var(--color-Light);
        color: var(--color-Dark);
    }
}

@media (prefers-color-scheme: light) {
    body{
        background: var(--lightMode-bg);
    }
    .font{
        color: var(--lightMode-font);
    }
    .index__ParentContainer{
        background: var(--lightMode-bg);
    }
    .index__Line{
        background: var(--lightMode-font);
    }
    .ourServices__ComponentIcon{
        fill: var(--lightMode-font);
        color: var(--lightMode-font);  
    }
    .header__BottomLine{
        border-bottom-color: var(--lightMode-font);
    }
    .invertedColors{
        background-color: var(--color-Dark);
        color: var(--color-Light);
    }
    .weBuildWebsites__Text{
        text-shadow: 0px 0px 15px var(--color-Light);
    }

}
@media screen and (prefers-color-scheme: light) and (max-width: 980px) {
    .weBuildWebsites__Link{
        text-shadow: 0px 0px 1px var(--color-Light);
    }
}


/* ********************************** */
/* *************** Global *********** */
/* ********************************** */
body{ /* Ezek nelkül megjelenik oldalt egy par pixeles margin vagy alul a vizszintes scroll-bar.*/
    margin: 0px;
    width: auto; 
}
.font{
    font-family: Roboto;
}
.font--bold{
    font-weight: var(--fontWeight-L);
}
.font--underline{
    text-decoration-line: underline;
}
.font__Link--NavBar{
    font-size: 24px;
}
.link{
    text-decoration: none; /* megszünteti a default-alahuzast*/
    color: inherit;  /* atveszi a szövegnek beallitott class-t a default ronda kék helyett*/
}
.link:hover{
    opacity: 0.6;
    transition: .1s;
}
.linkActive{
    font-weight: var(--fontWeight-L);
}

/* ******************************** */
/* ********** Header *********** */
/* ******************************** */
.myHeader{     
    /* child elemek igazitasa ehhez a parenthez kepest*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.myNavigation{
    display: flex;
    justify-content: center;
}
.header__BottomLine{
    border-bottom: 1px solid;
}

/* ******************************** */
/* ********** Footer ************** */
/* ******************************** */
footer{
    height: 291px;
    background: linear-gradient(90deg, var(--color-ThemeAccent) 0.01%, var(--color-Theme) 100%);

    position: relative;
}
.footer__Text{
    font-size: 120px;
    font-weight: var(--fontWeight-M);
    letter-spacing: 200px;
    color: var(--color-Light);
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ******************************** */
/* ****** Oldal: Index ******* */
/* ******************************** */
.index__ParentContainer{
    /* függöleg igazitas*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* child elemek igazitasa ehhez a parenthez kepest közepre*/
    display: flex;
    justify-content: center; /* vizszintesen közepre*/
    align-items: center; /* függölegesen közepre */

    /* egyeb*/
    height: 100%;
    width: 100%;
}
.index__ChildContainer{
    display: flex;
    flex-direction: column; /* a linkek elrendezesere*/
}
.index__LogoFont{
    font-weight: var(--fontWeight-XL);
    white-space: nowrap;
}

.index__LinkFont{
    font-weight: var(--fontWeight-S);
}

/* ******************************** */
/* ****** Oldal: altalanos ******* */
/* ******************************** */
.mySection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.mySection__Title{
    font-size: 40px;
    font-style: italic;
    text-align: center;
}
.mySection__ContentContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.mySection__Component{
    /* Parent szerep*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 379px;*/
    max-width: 379px;
}

/* ******************************** */
/* ****** Oldal: Céginformáció **** */
/* ******************************** */
/* ------ Section: Weboldalakat epitünk ------*/

.weBuildWebsites__Container{
    display: flex;
    background-image: url(img/image1.png);
    background-repeat: no-repeat;
    position: relative; /* A link class-a miatt szükseges beallitas*/
}
.weBuildWebsites__Text{
    font-weight: var(--fontWeight-M);
}
.weBuildWebsites__Link{ /* ez nem követi a flexbox szabalyait */
    font-size: 24px;
    font-weight: var(--fontWeight-S);
    text-decoration-line: underline;
    text-wrap: nowrap;
    
    /* Jobb-alulra igazitas. Forras: https://stackoverflow.com/questions/3956043/css-how-to-position-element-in-lower-right */
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ------ Section: Rolunk mondtak ------*/
.aboutUs__Component{
    /*gap: 50px;*/
    height: 436px;

    /*flex-grow: 1;*/ /* Adaptivitas, külön hozzaadva. 1440px szelesseg felett a komponensek egyenlö aranyban töltik ki a parent div-et a kepernyö szelessegetöl függöen.*/
    align-self: stretch;  /* A ComponentName jobb-alulra igazitasahoz.*/
    position: relative;   /* A ComponentName jobb-alulra igazitasahoz.*/

    justify-content: space-between;
}
.aboutUs__ComponentImg{
    width: 168px;
    height: 168px;
}
.aboutUs__ComponentText{
    font-style: italic;
    font-weight: var(--fontWeight-M);
    margin-top: 0;
    margin-bottom: 0;
}
.aboutUs__ComponentName{
    color: var(--color-ThemeAccent);
    font-size: 24px;
    font-weight: var(--fontWeight-M);
    align-self: flex-end;
}
/* ------ Section: Bemutatkozas ------*/
.introduction__ContentContainer{
    margin-top: 80px;
    margin-bottom: 89px;
    flex-shrink: 0;
    row-gap: var(--fontSizeContact);
}
.introduction__ContentContainer > p{
    font-size: 24px;
    font-weight: var(--fontWeight-M);
    row-gap: var(--fontSizeContact);
    margin-top: 0;
    margin-bottom: 0;
}

/* ******************************** */
/* ****** Oldal: Szolgaltatasok *** */
/* ******************************** */
.ourServices__Component{
    gap: 32px;
}
.ourServices__ComponentIcon{
    width: 123.459px;
    height: 64px;
}
.ourServices__ComponentTitle{
    text-align: center;
    font-size: 24px;
    font-weight: var(--fontWeight-L);
}
.ourServices__TitleWidth--Small{
    width: 228px;
}
.ourServices__TitleWidth--Big{
    width: 310px;
}
.ourServices__ComponentText{
    font-size: 24px;
    font-weight: var(--fontWeight-M); 
}

/* ******************************** */
/* ****** Oldal: Kapcsolat ******** */
/* ******************************** */
.contact__ContentContainer{
    justify-content: space-between;
}
.contact__TextFont{
    /*width: 500px;*/
    /*max-width: 700px;*/
    font-size: var(--fontSizeContact);
    font-style: italic;
    font-weight: var(--fontWeight-M);
}
.contact__TextContainer > div> p, ul, li {
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact__TextContainer > div{
    margin-bottom: var(--fontSizeContact);
}

form{
    display: flex;
    flex-direction: column;
}
.form__FirstContainer{
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 26px;
}
.form__Component{
    /*width: 90%;*/
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    flex: 1;
    min-width: 155px;
}
.form__label{
    margin-bottom: 15px;
    font-size: 12px;
    white-space: nowrap;
    text-align: left;
    font-size: 24px;
    font-weight: var(--fontWeight-L);
}
.form__input{
    height: 50px;
    padding: 0;
    border: 0;
    border-bottom: 4px solid var(--color-Theme);
    background: #888;
    width: 100%;
}
.form__textarea{   
    resize: none;  
    height: 143px;
}
.form__button{
    width: 200px;
    height: 54px;

    border: none;
    font-size: 24px;
    font-weight: var(--fontWeight-L);
    color: var(--color-Light);
    background: linear-gradient(90deg, var(--color-ThemeAccent) 0.76%, var(--color-Theme) 99.64%);
}
